@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
.page-content .main-btn{
    font-size: 18px;
    font-weight: 600;
    color:white;
    background-color:#3e86f2;
    outline:#3e86f2;
    border:#3e86f2 ;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    font-family: 'Bree Serif', serif;
  }
  .page-content .main-btn:hover{
    color: white;
    background-color:#07275c;
    transform: scale(1.1);
  }
  #more,#more1{
    display: none;
  }
  /* btn */
  
.btn-ecomm {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    /*border-radius: 50px;*/
    z-index: 6;
    font-family: 'Bree Serif', serif;
  
  }
  
  .btn-ecomm:focus {
    border: 1px solid #2f3338;
    box-shadow: 0 0 0 .25rem rgba(33, 37, 41, 0.25);
  }
  .page-content ul li{
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
   
  }
  .page-content ul li i{
    font-size: 20px;
    font-weight: 600;
    color:#3e86f2 ;
    margin-right: 5px;
  }
  .web{
    font-weight: 700;
    color: #3e86f2;
  }